@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-Raleway: 'Raleway';
    --font-Inter: 'Inter';
    --font-Poppins: 'Poppins';
    --primary-light-peach: #F26440;
    --heading-dark: #000000;
    --dark-blue: #0F3141;
    --white-color: #FFFFFF;
    --gray-color: #78756E;
    --font-regular: 'Regular';
    --font-semibold: 'SemiBold';
    --font-medium: 'Medium'
}

/* navbar section */
.brand-text {
    color: var(--brand-accent-color);
    font-weight: bold;
}

.nav-link {
    font-family: var(--font-Raleway);
    font-style: var(--font-regular);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue) !important;
    padding-bottom: 8px;
    position: relative;
}

.active-link {
    font-family: var(--font-Raleway);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue) !important;
}

.active-link::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--primary-light-peach);
    bottom: 0;
    left: 4px;
}

.dropdown-toggle::after {
    display: none;
}


/* hero section */
.hero-section {
    background-image: url('../images/hero-background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vh;  */
    height: 840px;
}

.explore-text {
    font-family: var(--font-Inter);
    font-weight: 500;
    font-size: 18px;
    font-style: var(--font-medium);
    line-height: 30px;
    letter-spacing: 1%;
    text-transform: uppercase;    
    margin-bottom: 1rem;
    color: var(--dark-blue);
    margin-top: -50%;
}

.main-heading {
    font-family: var(--font-Poppins);
    font-size: 88px;
    font-weight: 600;
    font-style: var(--font-semibold);
    line-height: 94px;
    letter-spacing: -3%;
    color: var(--heading-dark);
    width: 911px;
}

.custom-btn {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: var(--dark-blue);
    border-color: wheat;
    color: var(--white-color);
}


/* we provide section */
.feature-section {
    background-image: url(../images/we-provide-background.png);
    background-color: #FAF8F4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    font-family: var(--font-Poppins);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
    margin-top: 5%;
}

.feature-card {
    background-color: transparent;
}

/* .icon-img { */
    /* Assumes your icons are colored appropriately, otherwise use CSS filter: sepia(1) saturate(10) hue-rotate(180deg); etc. */
/* } */

.card-heading {
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-size: 24px;
    font-style: var(--font-semibold);
    line-height: 34px;
    letter-spacing: -2%;
    color: var(--heading-dark);
    width: 80%;
}

.card-description {
    font-family: var(--font-Inter);
    font-style: var(--font-regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    color: var(--heading-dark);
    margin-bottom: 1.5rem;
    margin-top: 5%;
    opacity: 50%;
    width: 95%;
}

.read-more-link {
    color: var(--primary-light-peach);
    font-family: var(--font-Inter);
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1%;
    text-decoration: none;
    transition: color 0.3s;
}

.read-more-link:hover {
    color: var(--dark-blue);
}

.arrow-right {
    margin-left: 5px;
    transition: margin-left 0.3s;
}

.read-more-link:hover .arrow-right {
    margin-left: 10px;
}


