@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-Raleway: 'Raleway';
    --font-Inter: 'Inter';
    --font-Poppins: 'Poppins';
    --primary-light-peach: #F26440;
    --heading-dark: #000000;
    --dark-blue: #0F3141;
    --white-color: #FFFFFF;
    --gray-color: #78756E;
    --card-color: #FAF8F4;
    --font-regular: 'Regular';
    --font-semibold: 'SemiBold';
    --font-medium: 'Medium';
    --font-bold: 'Bold';
}

/* navbar section */
.brand-text {
    color: var(--brand-accent-color);
    font-weight: bold;
}

.nav-link {
    font-family: var(--font-Raleway);
    font-style: var(--font-regular);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue) !important;
    padding-bottom: 8px;
    position: relative;
}

.active-link {
    font-family: var(--font-Raleway);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue) !important;
}

.active-link::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--primary-light-peach);
    bottom: 0;
    left: 4px;
}

.dropdown-toggle::after {
    display: none;
}


/* hero section */
.hero-section {
    background-image: url('../images/hero-background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vh;  */
    height: 840px;
}

.explore-text {
    font-family: var(--font-Inter);
    font-weight: 500;
    font-size: 18px;
    font-style: var(--font-medium);
    line-height: 30px;
    letter-spacing: 1%;
    text-transform: uppercase;    
    margin-bottom: 1rem;
    color: var(--dark-blue);
    margin-top: -50%;
}

.main-heading {
    font-family: var(--font-Poppins);
    font-size: 88px;
    font-weight: 600;
    font-style: var(--font-semibold);
    line-height: 94px;
    letter-spacing: -3%;
    color: var(--heading-dark);
    width: 911px;
}

.custom-btn {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: var(--dark-blue);
    border-color: wheat;
    color: var(--white-color);
}


/* we provide section */
.feature-section {
    background-image: url(../images/we-provide-background.png);
    background-color: var(--card-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    font-family: var(--font-Poppins);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
    margin-top: 5%;
}

.feature-card {
    background-color: transparent;
}

/* .icon-img { */
    /* Assumes your icons are colored appropriately, otherwise use CSS filter: sepia(1) saturate(10) hue-rotate(180deg); etc. */
/* } */

.card-heading {
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-size: 24px;
    font-style: var(--font-semibold);
    line-height: 34px;
    letter-spacing: -2%;
    color: var(--heading-dark);
    width: 80%;
}

.card-description {
    font-family: var(--font-Inter);
    font-style: var(--font-regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    color: var(--heading-dark);
    margin-bottom: 1.5rem;
    margin-top: 5%;
    opacity: 50%;
    width: 95%;
}

.read-more-link {
    color: var(--primary-light-peach);
    font-family: var(--font-Inter);
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1%;
    text-decoration: none;
    transition: color 0.3s;
}

.read-more-link:hover {
    color: var(--dark-blue);
}

.arrow-right {
    margin-left: 5px;
    transition: margin-left 0.3s;
}

.read-more-link:hover .arrow-right {
    margin-left: 10px;
}


/* our product section */
.product-section {
    margin-top: 5%;
}

.section-title {
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.arrow-icon {
    cursor: pointer;
}

.arrow-icon.disabled-arrow {
    cursor: pointer;
    opacity: 0.3;
    pointer-events: none;
}

.product-slider-wrapper {
    overflow: hidden;
}

.product-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.product-slider::-webkit-scrollbar {
    display: none;
}

.product-slide {
    flex: 0 0 auto;
    width: 240px;
}

.product-card {
    border: none;
    border-radius: 0;
    text-align: left;
}

.img-container {
    background-color: #F8F4F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    padding: 1rem;
}

.card-img-top {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card-body {
    padding: 1rem 0 0 0;
}

.card-category {
    font-family: var(--font-Raleway);
    font-size: 14px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-bottom: 10px;
    opacity: 50%;
}

.card-title {
    font-family: var(--font-Raleway);
    font-size: 20px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.card-text {
    font-family: var(--font-Raleway);
    font-size: 12px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.card-price {
    font-family: var(--font-Raleway);
    font-size: 18px;
    font-style: var(--font-bold);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1%;
    color: var(--primary-light-peach);
    margin-bottom: 0;
}


/* we compfort we care section */
.bg-light-gray {
    background-color: #F1F4F3;
}

.main-heading {
    font-family: var(--font-Poppins);
    font-size: 60px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.description-text {
    font-family: var(--font-Inter);
    font-size: 24px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--heading-dark);
    width: 80%;
}

.description-text-2 {
    font-family: var(--font-Inter);
    font-size: 20px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    width: 80%;
    opacity: 80%;
}

.custom-btn-2-we-care {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 4px;

}

.custom-btn-2-we-care:hover {
    background-color: var(--dark-blue);
    border-color: wheat;
    color: var(--white-color);
}

.small-image-height {
    height: 260px;
    width: 270px; 
    object-fit: cover;
    border-radius: 8px;
}

.large-image-height {
    height: 440px;
    width: 270px; 
    object-fit: cover;
    border-radius: 8px;
}


/* Mya's place section */
.bg-light-pink {
    background-color: #F5E7D6;
}

.main-heading--myas {
    font-family: var(--font-Poppins);
    font-size: 30px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: var(--heading-dark);
}

.description-text-myas {
    font-family: var(--font-Poppins);
    font-size: 59px;
    font-style: var(--font-regular);
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -3%;
    color: var(--heading-dark);
    width: 100%;
}

.description-text-myas-2 {
    font-family: var(--font-Inter);
    font-size: 18px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: var(--heading-dark);
    width: 85%;
    opacity: 50%;
    margin-top: 5%;
}

.custom-btn-2-myas {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}

.custom-btn-2-myas:hover {
    background-color: var(--dark-blue);
    border-color: wheat;
    color: var(--white-color);
}

.small-image-height {
    height: 640px;
    width: 670px; 
    object-fit: cover;
    border-radius: 8px;
}


/* Best Seller product section */
.best-product-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.best-section-title {
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.best-arrow-icon {
    cursor: pointer;
}

.best-arrow-icon.disabled-arrow {
    cursor: pointer;
    opacity: 0.3;
}

.best-product-slider-wrapper {
    overflow: hidden;
}

.best-product-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.best-product-slider::-webkit-scrollbar {
    display: none;
}

.best-product-slide {
    flex: 0 0 auto;
    width: 240px;
}   

.best-product-card {
    border: none;
    border-radius: 0;
    text-align: left;
}

.best-img-container {
    background-color: #F8F4F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    padding: 1rem;
}

.best-card-img-top {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.best-card-body {
    padding: 1rem 0 0 0;
}

.best-card-category {
    font-family: var(--font-Raleway);
    font-size: 14px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-bottom: 10px;
    opacity: 50%;
}

.best-card-title {
    font-family: var(--font-Raleway);
    font-size: 20px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.best-card-text {
    font-family: var(--font-Raleway);
    font-size: 12px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.best-card-price {
    font-family: var(--font-Raleway);
    font-size: 18px;
    font-style: var(--font-bold);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1%;
    color: var(--primary-light-peach);
    margin-bottom: 0;
}


/* what our client say section */
.section-title {
    font-family: var(--font-Poppins);
    font-size: 60px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.arrow-icon {
    cursor: pointer;
}

.testimonial-card {
    background-color: var(--card-color);
    border-radius: 16px;
}

.card-width-main {
    width: 65%;}

.card-width-partial {
    width: 60%;
}

.client-img {
    margin-bottom: -22px;
    height: 555px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.quote-icon {
    margin-top: 10%;
    margin-bottom: 1rem;
}

.card-title {
    font-family: var(--font-Poppins);
    font-size: 24px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
    color: var(--dark-blue);
    width: 90%;
}

.card-text {
    font-family: var(--font-Inter);
    font-size: 18px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    color: #78756E;
    width: 390px;
}

.client-name {
    font-family: var(--font-Poppins);
    font-size: 18px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -2%;
    color: #565554;
    opacity: 70%;
}

.large-number {
    font-family: var(--font-Raleway);
    font-size: 288px;
    font-style: var(--font-bold);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue);
    position: absolute;
    bottom: -120px;
    right: 10px;
    z-index: 0;
    opacity: 10%;
}


/* pay details every work section */
.complex-design-section {
    background-color: #F5F6F8;
    margin-top: 10%;
}

.content-col {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-heading-our-work {
    font-family: var(--font-Poppins);
    font-size: 60px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.description-text-our-work {
    font-family: var(--font-Inter);
    font-size: 20px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    width: 700px;
}

.custom-btn-2-our-work {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
}

.custom-btn-2-our-work:hover {
    background-color: var(--dark-blue);
    border-color: var(--primary-light-peach);
    color: var(--white-color);
}

.bg-circles {
    background-image: url(../images/pay-detail-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -210px;
    right: 340px;
    width: 500px;
    height: 500px;
    opacity: 1;
    z-index: 0;
}

.main-content-text {
    position: relative;
    z-index: 1;
}

.full-height-bg-image {
    background-image: url('../images/paydetail-1.png');
    background-size: cover;
    background-position: right;
    height: 810px;
    width: 420px;
    margin-left: 424px;
}

.overlay-images {
    position: absolute;
    bottom: 0rem;
    left: -13rem;
    /* display: flex; */
    /* gap: -4.5rem ; */
    z-index: 10;
}

.small-horizontal-img {
    width: 410px;
    height: 230px;
    object-fit: cover;
}

.large-vertical-img {
    width: 410px;
    height: 460px;
    object-fit: cover;
}


/* footer section */
.bg-pink-footer {
    background: linear-gradient(94.92deg, #f26440, #ef7d60);
}

.logo-image-footer{
    margin-right: 10px;
}

.footer-text-logo{
    font-family: var(--font-Raleway);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: var(--white-color);
}

.text-logo-dummy{
    font-family: var(--font-Poppins);
    font-weight: 400;
    font-style: var(--font-regular);
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
    color: var(--white-color);
    margin-bottom: 40px;
}

.address-footer{
    font-family: var(--font-Inter);
    font-weight: 500;
    font-style: var(--font-medium);
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white-color);
    margin-left: 10px;
    margin-right: 25px;
}

.address-foot{
    font-family: var(--font-Inter);
    font-weight: 400;
    font-style: var(--font-regular);
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--white-color);
}

.links-footer-heading{
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: var(--white-color);
    margin-left: 40px;
}

ul li a {
    /* color: rgba(255, 255, 255, 0.7); */
    font-family: var(--font-inter);
    font-style: var(--font-regular);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: var(--white-color);
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    overflow-x: hidden;
}

.horizontal-footer-line{
    color: var(--white-color);
    width: 100%;
}

.copyright-text-footer{
    font-family: var(--font-inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: var(--white-color);
}