@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-Raleway: 'Raleway';
    --font-Inter: 'Inter';
    --font-Poppins: 'Poppins';
    --primary-light-peach: #F26440;
    --heading-dark: #000000;
    --dark-blue: #0F3141;
    --white-color: #FFFFFF;
    --gray-color: #78756E;
    --card-color: #FAF8F4;
    --font-regular: 'Regular';
    --font-semibold: 'SemiBold';
    --font-medium: 'Medium';
    --font-bold: 'Bold';
}

/* navbar section */
.brand-text {
    color: var(--brand-accent-color);
    font-weight: bold;
}

.nav-link {
    font-family: var(--font-Raleway);
    font-style: var(--font-regular);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue) !important;
    padding-bottom: 8px;
    position: relative;
}

.active-link {
    font-family: var(--font-Raleway);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue) !important;
}

.active-link::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--primary-light-peach);
    bottom: 0;
    left: 4px;
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (max-width: 425px) {
    .navbar-brand img {
        width: 160px !important;
        height: auto !important;
    }

    .d-flex.align-items-center.gap-4 {
        gap: 0.5rem !important;
    }

    .d-flex.align-items-center.gap-4 img {
        width: 35px !important;
        height: 35px !important;
    }

    .active-link::after {
        width: 15%;
        left: 0;
    }

    .navbar-nav {
        margin-top: 10px;
        gap: 1rem !important;
    }

    .nav-link {
        padding-bottom: 5px;
    }

    .navbar .container, 
    .navbar .container-fluid {
        flex-wrap: wrap !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .navbar-collapse {
        flex-basis: 100%;
        order: 10;
        margin-top: 15px;
    }

    .navbar-brand {
        flex: 0 1 auto;
    }

    .d-flex.align-items-center.gap-4 {
        flex: 0 1 auto;
        margin-left: auto;
    }

    .navbar-nav {
        padding-top: 10px;
        border-top: 1px solid var(--gray-color);
    }

    .navbar-toggler{
        width: 38%;
        height: 38%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand img {
        width: 120px !important;
        height: auto !important;
    }

    .d-flex.align-items-center.gap-4 {
        gap: 0.1rem !important;
    }

    .d-flex.align-items-center.gap-4 img {
        width: 33px !important;
        height: 33px !important;
    }

    .active-link::after {
        width: 18%;
        left: 0;
    }

    .navbar-nav {
        margin-top: 1px;
        gap: 1rem !important;
    }

    .nav-link {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .nav-item{
        margin-left: -10%;
    }

    .navbar .container, 
    .navbar .container-fluid {
        flex-wrap: wrap !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .navbar-collapse {
        flex-basis: 100%;
        order: 10;
        margin-top: 15px;
    }

    .navbar-brand {
        flex: 0 1 auto;
    }

    .d-flex.align-items-center.gap-4 {
        flex: 0 1 auto;
        margin-left: auto;
    }

    .navbar-nav {
        padding-top: 20px;
        border-top: 1px solid var(--gray-color);
    }

    .navbar-toggler{
        width: 39%;
        height: 39%;
        justify-content: end;
        align-items: end;
        display: flex;
    }
}


/* hero section */
.hero-section {
    background-image: url('../images/hero-background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vh;  */
    height: 840px;
}

.hero-sec-explore-text {
    font-family: var(--font-Inter);
    font-weight: 500;
    font-size: 18px;
    font-style: var(--font-medium);
    line-height: 30px;
    letter-spacing: 1%;
    text-transform: uppercase;    
    margin-bottom: 1rem;
    color: var(--dark-blue);
    margin-top: -50%;
}

.hero-sec-main-heading {
    font-family: var(--font-Poppins);
    font-size: 88px;
    font-weight: 600;
    font-style: var(--font-semibold);
    line-height: 94px;
    letter-spacing: -3%;
    color: var(--heading-dark);
    width: 911px;
}

.custom-btn {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: var(--dark-blue);
    border-color: wheat;
    color: var(--white-color);
}

@media screen and (max-width: 425px) {
    .hero-section {
        height: auto !important;
        min-height: 500px;
        padding: 80px 0;
        background-position: 75% center;
    }

    .hero-sec-explore-text {
        margin-top: -40% !important;
        font-size: 14px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .hero-sec-main-heading {
        font-size: 35px !important;
        line-height: 40px !important;
        width: 100% !important;
        letter-spacing: -1px;
        padding-left: 10px;
    }

    .custom-btn {
        width: 52%;
        height: 50px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-left: 10px;
    }

    .custom-btn img {
        width: 22px;
        height: 22  px;
    }
}

@media screen and (max-width: 320px) {
    .hero-section {
        height: auto !important;
        min-height: 500px;
        padding: 80px 0;
        background-position: 75% center;
    }

    .hero-sec-explore-text {
        margin-top: -50% !important;
        font-size: 12px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .hero-sec-main-heading {
        font-size: 32px !important;
        line-height: 36px !important;
        width: 100% !important;
        letter-spacing: -1px;
        padding-left: 10px;
    }

    .custom-btn {
        width: 60%;
        height: 50px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        margin-left: 10px;
    }

    .custom-btn img {
        width: 22px;
        height: 22px;
    }
}


/* we provide section */
.feature-section {
    background-image: url(../images/we-provide-background.png);
    background-color: var(--card-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    font-family: var(--font-Poppins);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
    margin-top: 5%;
}

.feature-card {
    background-color: transparent;
}

/* .icon-img { */
    /* Assumes your icons are colored appropriately, otherwise use CSS filter: sepia(1) saturate(10) hue-rotate(180deg); etc. */
/* } */

.card-heading {
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-size: 24px;
    font-style: var(--font-semibold);
    line-height: 34px;
    letter-spacing: -2%;
    color: var(--heading-dark);
    width: 80%;
}

.card-description {
    font-family: var(--font-Inter);
    font-style: var(--font-regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    color: var(--heading-dark);
    margin-bottom: 1.5rem;
    margin-top: 5%;
    opacity: 50%;
    width: 95%;
}

.read-more-link {
    color: var(--primary-light-peach);
    font-family: var(--font-Inter);
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1%;
    text-decoration: none;
    transition: color 0.3s;
}

.read-more-link:hover {
    color: var(--dark-blue);
}

.arrow-right {
    margin-left: 5px;
    transition: margin-left 0.3s;
}

.read-more-link:hover .arrow-right {
    margin-left: 10px;
}

@media screen and (max-width: 425px) {
    .feature-slider {
        display: block !important;
    }

    .feature-card {
        text-align: center;
        padding: 20px !important;
        margin: 0 10px;
        border-radius: 1px;
        border-bottom: 1px solid rgba(0,0,0,0.09);
    }

    .main-title {
        font-size: 32px !important;
        line-height: 110%;
        margin-top: 10%;
        text-align: center;
    }

    .feature-section .row {
        display: block !important;
        flex-wrap: nowrap !important;
        overflow: hidden;
        margin-top: 20px !important;
    }

    .feature-section .col-md-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    .card-heading, .card-description {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }

    .icon-img {
        width: 40px;
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card-heading {
        width: 100% !important;
        font-size: 20px;
        line-height: 28px;
    }

    .card-description {
        width: 100% !important;
        font-size: 16px;
        line-height: 24px;
        margin-top: 15px;
    }

    .feature-section .row {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 320px) {
    .feature-card {
        text-align: center;
        padding: 20px !important;
        margin: 0 10px;
        border-radius: 1px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }

    .card-heading, .card-description {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .main-title {
        font-size: 28px !important;
        line-height: 100%;
        margin-top: 10%;
        text-align: center;
    }

    .feature-section .row {
        display: block !important;
        flex-wrap: nowrap !important;
        overflow: hidden;
        margin-top: 20px !important;
    }

    .feature-section .col-md-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    .icon-img {
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .card-heading {
        width: 100% !important;
        font-size: 18px;
        line-height: 26px;
    }

    .card-description {
        width: 100% !important;
        font-size: 14px;
        line-height: 20px;
        margin-top: 15px;
    }
}


/* our product section */
.our-product-section {
    margin-top: 5%;
}

.our-product-section-title {
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.our-product-arrow-icon-left {
    cursor: pointer;
}

.our-product-arrow-icon-right {
    cursor: pointer;
    transform: scaleX(-1);
}

.our-product-slider-wrapper {
    overflow: hidden;
}

.our-product-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.our-product-slider::-webkit-scrollbar {
    display: none;
}

.our-product-slide {
    flex: 0 0 auto;
    width: 240px;
}

.our-product-card {
    border: none;
    border-radius: 0;
    text-align: left;
}

.our-product-img-container {
    background-color: #F8F4F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    padding: 1rem;
}

.our-product-card-img-top {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.our-product-card-body {
    padding: 1rem 0 0 0;
}

.our-product-card-category {
    font-family: var(--font-Raleway);
    font-size: 14px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-bottom: 10px;
    opacity: 50%;
}

.our-product-card-title {
    font-family: var(--font-Raleway);
    font-size: 20px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.our-product-card-text {
    font-family: var(--font-Raleway);
    font-size: 12px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.our-product-card-price {
    font-family: var(--font-Raleway);
    font-size: 18px;
    font-style: var(--font-bold);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1%;
    color: var(--primary-light-peach);
    margin-bottom: 0;
}

@media (max-width: 425px) {
    .our-product-section-title {
        font-size: 40px;
        letter-spacing: -1%;
    }

    .our-product-section {
        margin-top: 10%;
    }

    .our-product-slide {
        width: 130px;
    }

    .our-product-img-container {
        height: 150px;
        width: 150px;
    }

    .our-product-card-category {
        font-size: 13px;
    }

    .our-product-card-title {
        font-size: 15px;
        line-height: 20px;
    }

    .our-product-card-text {
        font-size: 13px;
    }

    .our-product-card-price {
        font-size: 16px;
    }

    .our-product-navigation-arrows img {
        width: 24px;
        height: 24px;
        margin-right: -10%;
    }
}

@media (max-width: 425px) {
    .our-product-section-title {
        font-size: 28px;
        letter-spacing: -1%;
    }

    .our-product-section {
        margin-top: -1%;
    }

    .our-product-slide {
        width: 120px;
   }

    .our-product-img-container {
        height: 140px;
        width: 140px;
    }

    .our-product-card-category {
        font-size: 12px;
    }

    .our-product-card-title {
        font-size: 14px;
        line-height: 20px;
    }

    .our-product-card-text {
        font-size: 12px;
        line-height: 15px;
    }

    .our-product-card-price {
        font-size: 15px;
    }

    .our-product-navigation-arrows img {
        width: 22px;
        height: 22px;
        margin-right: -10%;
    }
}


/* we compfort we care section */
.bg-light-gray {
    background-color: #F1F4F3;
}

.where-compfort-main-heading {
    font-family: var(--font-Poppins);
    font-size: 60px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.where-compfort-description-text {
    font-family: var(--font-Inter);
    font-size: 24px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--heading-dark);
    width: 80%;
}

.where-compfort-description-text-2 {
    font-family: var(--font-Inter);
    font-size: 20px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    width: 80%;
    opacity: 80%;
}

.custom-btn-2-we-care {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 4px;

}

.custom-btn-2-we-care:hover {
    background-color: var(--dark-blue);
    border-color: wheat;
    color: var(--white-color);
}

.where-compfort-small-image-height {
    height: 260px;
    width: 300px; 
    object-fit: cover;
    border-radius: 8px;
}

.where-compfort-large-image-height {
    height: 500px;
    width: 400px; 
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 425px) {
    .where-compfort-main-heading {
        font-size: 37px;
        line-height: 35px;
        margin-top: 5%;
    }

    .where-compfort-description-text, 
    .where-compfort-description-text-2 {
        font-size: 15px;
        line-height: 20px;
        width: 70%;
    }

    .where-compfort-small-image-height {
        height: 250px; 
        width: 100%;
    }

    .where-compfort-large-image-height {
        height: 250px; 
        width: 100%;
    }
    
    .custom-btn-2-we-care {
        width: 60%;
        font-size: 14px;
        text-align: center;
    }

    span img{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 320px) {
    .where-compfort-main-heading {
        font-size: 30px;
        line-height: 35px;
        margin-top: 5%;
    }

    .where-compfort-description-text, 
    .where-compfort-description-text-2 {
        font-size: 14px;
        line-height: 20px;
        width: 80%;
    }

    .where-compfort-small-image-height {
        height: 200px; 
        width: 100%;
    }

    .where-compfort-large-image-height {
        height: 250px; 
        width: 100%;
    }
    
    .custom-btn-2-we-care {
        width: 65%;
        font-size: 11px;
        text-align: center;
    }

    span img{
        width: 20px;
        height: 20px;
    }
}


/* Mya's place section */
.bg-light-pink {
    background-color: #F5E7D6;
}

.main-heading-myas {
    font-family: var(--font-Poppins);
    font-size: 30px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: var(--heading-dark);
}

.description-text-myas {
    font-family: var(--font-Poppins);
    font-size: 59px;
    font-style: var(--font-regular);
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -3%;
    color: var(--heading-dark);
    width: 100%;
}

.description-text-myas-2 {
    font-family: var(--font-Inter);
    font-size: 18px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: var(--heading-dark);
    width: 85%;
    opacity: 50%;
    margin-top: 5%;
}

.custom-btn-2-myas {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}

.custom-btn-2-myas:hover {
    background-color: var(--dark-blue);
    border-color: wheat;
    color: var(--white-color);
}

.small-image-height {
    height: 640px;
    width: 670px; 
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 425px) {
    .description-text-myas {
        font-size: 28px;
        line-height: 40px;
        width: 90%;
    }

    .main-heading-myas {
        margin-top: 10%;
        font-size: 24px;
    }

    .description-text-myas-2 {
        font-size: 15px;
        width: 100%;
        margin-top: 10px;
    }

    .small-image-height {
        height: auto; 
        width: 100%;
        max-height: 450px;
    }

    .custom-btn-2-myas {
        width: 45%;
        transform: translateY(-40px);
        font-size: 15px;
        /* padding: 1rem; */
    }
}

.custom-btn-2-myas:hover .arrow-icon {
    filter: brightness(0) saturate(100%) invert(58%) sepia(35%) saturate(5435%) hue-rotate(331deg) brightness(101%) contrast(90%);
}

@media (max-width: 320px) {
    .description-text-myas {
        font-size: 28px;
        line-height: 32px;
        width: 90%;
    }

    .main-heading-myas {
        margin-top: 10%;
        font-size: 20px;
    }

    .description-text-myas-2 {
        font-size: 13px;
        line-height: 24px;
        width: 100%;
        margin-top: 10px;
    }

    .small-image-height {
        height: auto; 
        width: 100%;
        max-height: 300px;
    }

    .custom-btn-2-myas {
        width: 50%;
        transform: translateY(-40px);
        font-size: 13px;
        /* padding: 1rem; */
    }
}

.custom-btn-2-myas:hover .arrow-icon {
    filter: brightness(0) saturate(100%) invert(58%) sepia(35%) saturate(5435%) hue-rotate(331deg) brightness(101%) contrast(90%);
}



/* Best Seller product section */
.best-product-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.best-section-title {
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.best-arrow-icon {
    cursor: pointer;
}

.best-arrow-icon.disabled-arrow {
    cursor: pointer;
    opacity: 0.3;
}

.best-product-slider-wrapper {
    overflow: hidden;
}

.best-product-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.best-product-slider::-webkit-scrollbar {
    display: none;
}

.best-product-slide {
    flex: 0 0 auto;
    width: 240px;
}   

.best-product-card {
    border: none;
    border-radius: 0;
    text-align: left;
}

.best-img-container {
    background-color: #F8F4F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    padding: 1rem;
}

.best-card-img-top {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.best-card-body {
    padding: 1rem 0 0 0;
}

.best-card-category {
    font-family: var(--font-Raleway);
    font-size: 14px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-bottom: 10px;
    opacity: 50%;
}

.best-card-title {
    font-family: var(--font-Raleway);
    font-size: 20px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.best-card-text {
    font-family: var(--font-Raleway);
    font-size: 12px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue);
    margin-bottom: 8px;
}

.best-card-price {
    font-family: var(--font-Raleway);
    font-size: 18px;
    font-style: var(--font-bold);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1%;
    color: var(--primary-light-peach);
    margin-bottom: 0;
}


/* what our client say section */
.section-title {
    font-family: var(--font-Poppins);
    font-size: 60px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.arrow-icon {
    cursor: pointer;
}

.testimonial-card {
    background-color: var(--card-color);
    border-radius: 16px;
}

.card-width-main {
    width: 65%;}

.card-width-partial {
    width: 60%;
}

.client-img {
    margin-bottom: -22px;
    height: 555px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.quote-icon {
    margin-top: 10%;
    margin-bottom: 1rem;
}

.card-title {
    font-family: var(--font-Poppins);
    font-size: 24px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
    color: var(--dark-blue);
    width: 90%;
}

.card-text {
    font-family: var(--font-Inter);
    font-size: 18px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    color: #78756E;
    width: 390px;
}

.client-name {
    font-family: var(--font-Poppins);
    font-size: 18px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -2%;
    color: #565554;
    opacity: 70%;
}

.large-number {
    font-family: var(--font-Raleway);
    font-size: 288px;
    font-style: var(--font-bold);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--dark-blue);
    position: absolute;
    bottom: -120px;
    right: 10px;
    z-index: 0;
    opacity: 10%;
}


/* pay details every work section */
.complex-design-section {
    background-color: #F5F6F8;
    margin-top: 10%;
}

.content-col {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-heading-our-work {
    font-family: var(--font-Poppins);
    font-size: 60px;
    font-style: var(--font-semibold);
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -3%;
    color: var(--heading-dark);
}

.description-text-our-work {
    font-family: var(--font-Inter);
    font-size: 20px;
    font-style: var(--font-regular);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    color: var(--dark-blue);
    width: 700px;
}

.custom-btn-2-our-work {
    font-family: var(--font-Inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--white-color);
    background-color: var(--primary-light-peach);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
}

.custom-btn-2-our-work:hover {
    background-color: var(--dark-blue);
    border-color: var(--primary-light-peach);
    color: var(--white-color);
}

.bg-circles {
    background-image: url(../images/pay-detail-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -210px;
    right: 340px;
    width: 500px;
    height: 500px;
    opacity: 1;
    z-index: 0;
}

.main-content-text {
    position: relative;
    z-index: 1;
}

.full-height-bg-image {
    background-image: url('../images/paydetail-1.png');
    background-size: cover;
    background-position: right;
    height: 810px;
    width: 420px;
    margin-left: 424px;
}

.overlay-images {
    position: absolute;
    bottom: 0rem;
    left: -13rem;
    /* display: flex; */
    /* gap: -4.5rem ; */
    z-index: 10;
}

.small-horizontal-img {
    width: 410px;
    height: 230px;
    object-fit: cover;
}

.large-vertical-img {
    width: 410px;
    height: 460px;
    object-fit: cover;
}


/* footer section */
.bg-pink-footer {
    background: linear-gradient(94.92deg, #f26440, #ef7d60);
}

.logo-image-footer{
    margin-right: 10px;
}

.footer-text-logo{
    font-family: var(--font-Raleway);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: var(--white-color);
}

.text-logo-dummy{
    font-family: var(--font-Poppins);
    font-weight: 400;
    font-style: var(--font-regular);
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
    color: var(--white-color);
    margin-bottom: 40px;
}

.address-footer{
    font-family: var(--font-Inter);
    font-weight: 500;
    font-style: var(--font-medium);
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white-color);
    margin-left: 10px;
    margin-right: 25px;
}

.address-foot{
    font-family: var(--font-Inter);
    font-weight: 400;
    font-style: var(--font-regular);
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--white-color);
}

.links-footer-heading{
    font-family: var(--font-Poppins);
    font-weight: 600;
    font-style: var(--font-semibold);
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: var(--white-color);
    margin-left: 40px;
}

ul li a {
    /* color: rgba(255, 255, 255, 0.7); */
    font-family: var(--font-inter);
    font-style: var(--font-regular);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: var(--white-color);
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    overflow-x: hidden;
}

.horizontal-footer-line{
    color: var(--white-color);
    width: 100%;
}

.copyright-text-footer{
    font-family: var(--font-inter);
    font-style: var(--font-semibold);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: var(--white-color);
}